@model TSSedaplanifica.Models.ApplicationUser.RoleUserModelView

@{
    ViewData["Title"] = "Eliminar";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Borrar rol</h5>
            </div>
            <div class="card-body">
                ¿desea borrar a <strong> @Html.DisplayFor(model => model.FullName)</strong>  el rol <strong> @Html.DisplayFor(model => model.FullName)</strong>?

                <form asp-action="Delete">
                    <input type="hidden" asp-for="UserId" />
                    <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash2-fill"></i> Eliminar</button>
                    <a asp-action="Index" class="btn btn-sm btn-success"><i class="bi bi-chevron-left"></i> Retornar</a>
                </form>

            </div>
        </div>
    </div>
</div>
