@model TSSedaplanifica.Data.Entities.SolicitDetail

@{
    ViewData["Title"] = "Borrar";
}


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Borrar elemento</h5>
            </div>
            <div class="card-body">
                ¿desea borrar el elemento <strong> @Html.DisplayFor(model => model.Product.Name)</strong> ?
                <form asp-action="StartStocktakingProductDelete">
                    <input type="hidden" asp-for="Id" />
                    <button class="btn btn-danger" type="submit"><i class="bi bi-save2-fill"></i> Borrar</button>
                    <a asp-action="StartStocktakingDetails" asp-route-id="@Model.Solicit.Id" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
                </form>

            </div>
        </div>
    </div>
</div>