@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo electrónico confirmado";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<h2>"Su registro está realizado y tiene una cuenta en Sedaplanifica.com"</h2>
<h2>"Puede modificar su perfil al hacer clic sobre su correo."</h2>
