@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvidó su contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor verifique su correo electrónico para asignación de una nueva contraseña en Sedaplanifica.
</p>
