@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de asignación de nueva contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su nueva contraseña se asignó exitosamente. Por favor  <a asp-page="./Login">haga clic aqui para ingresar a Sedaplanifica</a>.
</p>
