@model TSSedaplanifica.Data.Entities.Category

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Está seguro de querer borrar la categoría?</h3>
<div>
    <h4>Categoría</h4>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
            <button class="btn btn-danger" type="submit"><i class="bi bi-save2-fill"></i> Borrar</button>
            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
    </form>
</div>
