@model TSSedaplanifica.Data.Entities.Category

@{
    ViewData["Title"] = "Borrar";
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Nueva categorías</h5>
            </div>
            <div class="card-body">
                ¿desea borrar la categoría <strong> @Html.DisplayFor(model => model.Name)</strong> ?
                <form asp-action="Delete" class="mt-2">
                    <input type="hidden" asp-for="Id" />
                        <button class="btn btn-danger" type="submit"><i class="bi bi-save2-fill"></i> Borrar</button>
                        <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
                </form>
            </div>
        </div>
    </div>
</div>