@model TSSedaplanifica.Data.Entities.Category

@{
    ViewData["Title"] = "Edit";
}


<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Editar categorí</h5>
            </div>
            <div class="card-body">
                <div class="col-md-4">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-save2-fill"></i> Guardar</button>
                            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
