@model TSSedaplanifica.Models.ProductCreateViewModel
@{
    ViewData["Title"] = "Editar";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Editar elemento</h5>
            </div>
            <div class="card-body">
                <div class="col-md-4">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <span class="required">*</span>
                            <label asp-for="MeasureUnitId" class="control-label"></label>
                            <select asp-for="MeasureUnitId" asp-items="ViewBag.MeasureUnitId" class="form-control"></select>
                            <span asp-validation-for="MeasureUnitId" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-save2-fill"></i> Guardar</button>
                            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#MeasureUnitId').select2({ placeholder: "seleccionar", width: "100%" });
    </script>
}