@model TSSedaplanifica.Data.Entities.SolicitState

@{
    ViewData["Title"] = "Ver";
}
<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Detalle estado de solicitud</h5>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn bn-sm btn-warning"><i class="bi bi-pencil-fill"></i> Editar</a> | 
    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>




                </div>
            </div>
        </div>
    </div>
</div>

