@model TSSedaplanifica.Data.Entities.MeasureUnit

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Unidad de medida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameShort" class="control-label"></label>
                <input asp-for="NameShort" class="form-control" />
                <span asp-validation-for="NameShort" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save2-fill"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
