@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4"><strong>SedaPlanifica</strong></h1>
    <p><strong>Aplicación</strong> de Planificacion Educativa</p>
    <p>Secretaría de Educación Departamental de Arauca</p>
</div>
