@model TSSedaplanifica.Data.Entities.Solicit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Solicit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="School" />
            <input type="hidden" asp-for="SolicitStates" />
            <input type="hidden" asp-for="UserApprovedDenied" />
            <input type="hidden" asp-for="UserReceived" />
            <input type="hidden" asp-for="UserClosed" />

            <div class="form-group">
                <label asp-for="DateOfSolicit" class="control-label"></label>
                <input asp-for="DateOfSolicit" class="form-control" />
                <span asp-validation-for="DateOfSolicit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfReceived" class="control-label"></label>
                <input asp-for="DateOfReceived" class="form-control" />
                <span asp-validation-for="DateOfReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfApprovedDenied" class="control-label"></label>
                <input asp-for="DateOfApprovedDenied" class="form-control" />
                <span asp-validation-for="DateOfApprovedDenied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfClosed" class="control-label"></label>
                <input asp-for="DateOfClosed" class="form-control" />
                <span asp-validation-for="DateOfClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

