@model TSSedaplanifica.Models.SchoolRectorCoordinator

@{
    ViewData["Title"] = "Create";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-danger">
                <h5>Nuevo coordinador</h5>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <form asp-action="Coordinator">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SchoolId" />
                        <input type="hidden" asp-for="SchoolName" />
                        <input type="hidden" asp-for="SchoolCampus" />
                        <input type="hidden" asp-for="assignSeat" />
                        <input type="hidden" asp-for="rol" />

                        <div class="form-group">
                            <label asp-for="SchoolName" class="control-label"></label>
                            <input asp-for="SchoolName" disabled class="form-control" />
                            <span asp-validation-for="SchoolName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <select asp-for="UserId" asp-items="ViewBag.UserId" class="form-control"></select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="HireOfDate" class="control-label"></label>
                            <input asp-for="HireOfDate" class="form-control" />
                            <span asp-validation-for="HireOfDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EndOfDate" class="control-label"></label>
                            <input asp-for="EndOfDate" class="form-control" />
                            <span asp-validation-for="EndOfDate" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-save2-fill"></i> Guardar</button>
                            <a asp-action="Details" asp-route-id="@Model.SchoolCampus" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }