@model TSSedaplanifica.Data.Entities.School

@{
    ViewData["Title"] = "Borrar";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <strong> Éxito ! - </strong>  @TempData["AlertMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Borrar</h1>

<h3>¿Está seguro de querer borrar esta institución educativa?</h3>
<div>
    <h4>Institución educativa</h4>
    <hr />
    
    <partial name="_SchoolDetailsDelete" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
            <button class="btn btn-danger" type="submit"><i class="bi bi-trash-fill"></i> Borrar</button>
            <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
    </form>
</div>
