@model TSSedaplanifica.Models.SchoolRectorCoordinator

@{
    ViewData["Title"] = "Asignar";
}

<h1>Asignar</h1>

<h4>Institución - Usuario </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rector">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchoolId" />
            <input type="hidden" asp-for="SchoolName" />
            <input type="hidden" asp-for="SchoolCampus" />
            <input type="hidden" asp-for="rol" />

            <div class="form-group">
                <label asp-for="SchoolName" class="control-label"></label>
                <input asp-for="SchoolName" disabled class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" asp-items="ViewBag.UserId" class="form-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HireOfDate" class="control-label"></label>
                <input asp-for="HireOfDate" class="form-control" />
                <span asp-validation-for="HireOfDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndOfDate" class="control-label"></label>
                <input asp-for="EndOfDate" class="form-control" />
                <span asp-validation-for="EndOfDate" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit"><i class="bi bi-save2-fill"></i> Guardar</button>
                <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i> Regresar al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
